#content
	#invoice_container
		#flash-pad
			%div{:id => "success-flash", :style => "display: none"}
		%h2
			Edit Invoice
		-form_for :invoice, :url => { :action => "update", :id => @invoice }, :html => { :method => "put" } do |f|
			.group
				.income-details
					%dl{:class => "form", :id => "income-enter-title"}
						%dt
							Name
						%dd{:style => "margin-bottom: 6px;"}
							=f.text_field :name, :class => "title", :size => "30", :style => "width:99%;"
					%dl{:class => "form"}
						%dt
							Ammount
						%dd
							%span{:id => "category-dd"}
								=f.text_field :ammount, :id => "entry_title", :class => "title", :size => "30", :style => "width:99%;", :id => "ammount"
					%dl{:class => "form"}
						%dt
							Due Date
						%dd
							%span{:id => "category-dd"}
								=f.text_field :due_date, :class => "title", :size => "30", :style => "width:99%;", :id => "datepicker"
					%dl{:class => "form"}
						%dt
							Tags
						%dd
							%span{:id => "category-dd"}
								=text_field_tag 'tags[]', tags_for_field(@invoice), :size => "30", :style => "width:99%;", :class => 'title'
								%small
									Comma-separated
				%div{:class => "income-details", :style => "margin-right:0;"}
					%dl{:class => "form"}
						%dt
							Notes
						%dd
							=f.text_area :notes, :cols => "40", :rows => "3", :style => "width:99%;"
					%dl{:class => "form"}
						%dt
							=f.check_box :paid
							Paid
				%br{:class => "clear"}
			%p{:class => "submit"}
				=f.submit 'Update'
				%span#cancel
					or
					=link_to 'Cancel', "/#{params[:month]}/invoices/list"
